<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true"> 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder> 
            <Pattern> %d{yyyy-MMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100}.%M - %msg%n</Pattern> 
        </encoder> 
    </appender>  

    <logger name="AutomationFramework.*" level="all" />

    <root level="all"> 
        <appender-ref ref="STDOUT" /> 
    </root>
 </configuration>